<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{Position}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{Destino.ImagenURL}}</h3>
        <p style="margin-bottom: 0px;">Servicios</p>
        <ul>
            <li *ngFor = "let S of Destino.Servicios" [Servicios] = S>
                <span [ngSwitch] = "S">
                    <i *ngSwitchCase = "'Desayuno'">{{S}}</i>
                    <i *ngSwitchCase = "'Almuerzo'">{{S}}</i>
                    <i *ngSwitchCase = "'Comida'">{{S}}</i>                    
                </span>
            </li>
        </ul>
        <a href="#" class="btn-card" (click) = "Ir()">Ir</a>
        <span *ngIf = "Destino.isSelected()">
            <span ngNonBindable> [Preferido]</span>
        </span>
        <a [routerLink] = "['/destino']">Ver Detalle</a>
    </div>
</div>